<div class="container">
  <div class="mat-elevation-z4 table-card">
    <div class="table-title-bar">
      <h2 class="mat-title">User List</h2>
      <span fxFlex></span>
      <button mat-icon-button
              (click)="openAddDialog()"
              matTooltip="Add User">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <table mat-table [dataSource]="users" multiTemplateDataRows>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="table-actions">
          <div>
            <span fxFlex></span>
            <button mat-icon-button
                    (click)="editUser(element)"
                    matTooltip="Edit User">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                    (click)="deleteUser(element)"
                    matTooltip="Remove User">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"></tr>
    </table>
  </div>
</div>
  
